
{{#each}}
<li class="product-item">
 <div class="item_imgContainer" data-itemId="{{id}}">
          <img src="{{img}}" class="item_img" width="250" height="443">
        </div>
        <h3 class="item_name">{{brandName}}</h3>
        <p class="item_desc">{{description}}</p>
        <p class="item_price">{{price}}</p>
      </div>

        <div class="but-section">
            <button  id="{{_id}}" data-action="delete"><i class="material-icons">Удалить</i></button>
  <button  id="{{_id}}" data-action="edit"><i class="material-icons">Редактировать</i></button>
        </div>
</li>
{{/each}}
