


  <div class="wrap_img_add">
    <span id="outputMulti"></span>
  </div>
      <input type="text" placeholder="Item name" name="name" value="{{name}}" >
      <input type="text" placeholder="Brand name" name="brandName" value="{{brandName}}">
      <input type="text" placeholder="Description" name="description" value="{{description}}">
      <textarea  placeholder="Full Description" name="fullDescription" value="{{fullDescription}}"></textarea>
      <input type="text" placeholder="Price" name="price" value="{{price}}">
      <input type="text" placeholder="Size" name="size" value="{{size}}">
      <input type="text" placeholder="Color" name="color" value="{{color}}">

      <select value={{category}} name="Category" class="select">
        {{#each categories}}
          {{#if value}}
            <option selected value="{{titleValue}}">{{title}}</option>
          {{else}}
            <option value="{{titleValue}}">{{title}}</option>
          {{/if}}
        {{/each }}
      </select>

      <label class="checkbox-label" for="popular">
        <input class="checkbox" id="popular" type="checkbox" placeholder="Color" name="popular">
        <p style="display: inline-block;">Select popular </p>
      </label>
      {{!-- <button class=".close-btn"></button> --}}
      <br><button type='submit' class="sub-form-btn" data-action="edit">Edit</button>
