<div class="container_arrivals">
  <h2 class="store-title">{{title}}</h2>
  <div class="shopItems">
    {{#each items}}
      <div class="item">
        <div class="item_cart">
          <button class="item_button" data-action="ADD_TO_CART" data-id="{{_id}}">
            Add to cart
          </button>
        </div>
        <div class="item_imgContainer">
          <img src=" {{src}} " class="item_img" width="250px">
        </div>
        <br><span class="item_name"> {{brandName}}</span>
        <span class="item_desc">{{descriptionFull}}</span>
        <br><span class="item_price">{{price}} $</span>
      </div>
    {{/each}}
    </div>
</div>
