<div class="container_arrivals">
  <h2 class="store-title">{{title}}</h2>
  <div class="shopItems">
    {{#each items}}
    <div class="item">
      
      <div class="item_imgContainer">
        <img src=" {{image}} " class="item_img" width="250px">
      </div>
<div class="item-text">
      <span class="item_name"> {{brandName}}</span>
      <span class="item_desc">{{name}}</span>
      </div>
      <span class="item_price">{{price}} $</span>

      {{!-- <li>
      <div class="item">
        <div class="item_cart">
          <button class="item_button">
            Add to cart 
          </button>
        </div>
        <div class="item_imgContainer">
        <img src="https://c.static-nike.com/a/images/f_auto/q_auto/t_PDP_864_v1/kc12ugtouei5y3lkqspx/air-max-270-react-mens-shoe-bZ8t5l.jpg" class="item_img" width="250px">
      </div>
        <p class="item_name">Nike shoes</p>
        <p class="item_desc">Shop outdoors</p>
        <p class="item_price">$ 125</p>
      </div>
      </li> --}}




    <div class="item-buts">
      <button class="DELETE btn" id="{{_id}}" data-action="delete"><i class="fas fa-times"></i></button>
      <button class="EDIT btn" id="{{_id}}" data-action="edit"><i class="fas fa-pencil-alt"></i></button>
    </div>
 </div>
    {{/each}}
  </div>
</div>
