<div class="container_arrivals">
  <h2 class="store-title">{{title}}</h2>
  <div class="shopItems">
    {{#each items}}
      <div class="item" id = {{id}}>
        <div class="item_imgContainer">
          <img src=" {{src}} " class="item_img" width="250px">
        </div>
        <br><span class="item_name"> {{brandName}}</span>
        <span class="item_desc">{{descriptionFull}}</span>
        <br><span class="item_price">{{price}} $</span>
        <button data-action="DELETE" id={{id}} class="delete">x</button>
        <button data-action="EDIT" id={{id}} class="edit">e</button>
      </div>
    {{/each}}
    </div>
</div>
