

<li class="product-item">
 <div class="item_imgContainer" data-itemId="{{id}}">
          <img src="{{img}}" class="item_img" width="250" height="443">
        </div>
        <h3 class="item_name">{{brandName}}</h3>
        <p class="item_desc">{{description}}</p>
        <p class="item_price">{{price}}</p>
      </div>

        <div class="item_cart">
           <button data-action="submit">Готово</button>
  <button data-action="cancel">Відмініти</button>
        </div>
</li>
